/* tailwind */

@tailwind components;
@tailwind utilities;

/* reset */

* {
  @apply m-0 box-border p-0;
}

/* radix */

.radix-themes {
  --default-font-family: var(--font-sans);
  --code-font-family: var(--font-mono);
  --cursor-button: pointer;
  --cursor-menu-item: pointer;
}
